<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.sm="column" 
                       fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" 
                       fxLayoutGap.xs="0">

  <div fxFlex="100" *ngIf="dish">
    <div fxFlex>
      <mat-card fxFlex >
        <mat-card-header>
          <mat-card-title>
             <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
         <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail',prev]">
              <span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button >LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button (click)="goBack()">BACK</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail',next]">
            <span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxFlex="40" *ngIf="dish" >    
      <mat-list> <span> <strong>Comments:</strong> </span>
        <mat-list-item *ngFor="let c of dish.comments">
          <p mat-line>{{c.comment}}</p>
          <p mat-line>-- {{c.author|uppercase}} {{c.date | date}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="commentForm.valid">
          <p mat-line>{{commentForm.controls['comment'].value}}!</p>
          <p mat-line>-- {{commentForm.controls['author'].value | uppercase}}</p> 
        </mat-list-item>
      </mat-list>
  
      <div>
        <form  novalidate [formGroup]="commentForm" #comntForm="ngForm" 
          (ngSubmit)="onSubmit(commentForm.controls['author'].value,
                              commentForm.controls['comment'].value,
                              commentForm.controls['rating'].value)">
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-error *ngIf="commentFormErrors.author">{{commentFormErrors.author}}</mat-error>
            </mat-form-field>
          </p>  
          <mat-slider min="1" max="5" step="1" value="5" thumbLabel tickInterval="auto" 
                      formControlName="rating"></mat-slider>       
          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="comment" placeholder="Comments" rows=12></textarea>
              <mat-error *ngIf="commentFormErrors.comment">{{commentFormErrors.comment}}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button  [disabled]="!comntForm.form.valid" class="background-primary text-floral-white">Submit</button>
      </form>     
      </div>        
  </div> 
  <div fxFlex [hidden]="dish">
      <mat-spinner></mat-spinner><h4>Loading...Please wait!</h4>
  </div>    
</div>



